<h1>Hogwarts Student Details</h1>
<img src = "<%=@house.logo_url%>" alt="<%=@house.name%> Logo" class="logo" />
<p class="housename">Name: <%= @house.name %> </p>
<p><a href="<%=@house.logo_url%>">Logo URL</a></p>
